<%- include("partial/header"); -%>

    <h1 class="cover-heading">Grunge Zine.</h1>
    <p class="lead">Do you want to get FREE issue GrungeZine?</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Pre-order Now</a>
    </p>

<%- include("partial/footer"); -%>

