<%- include("partial/header"); -%>

    <h1 class="cover-heading">Support us.</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra ipsum nunc aliquet bibendum enim facilisis gravida neque convallis. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Consequat ac felis donec et odio pellentesque diam. In nibh mauris cursus mattis molestie a. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Posuere urna nec tincidunt praesent semper feugiat nibh sed. Eleifend donec pretium vulputate sapien. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Quam elementum pulvinar etiam non quam lacus suspendisse faucibus. Vitae sapien pellentesque habitant morbi tristique senectus. Et tortor consequat id porta nibh venenatis cras. Fringilla ut morbi tincidunt augue interdum. Vitae elementum curabitur vitae nunc sed velit. Ante metus dictum at tempor. Scelerisque in dictum non consectetur a erat nam at lectus. Odio ut sem nulla pharetra. Massa sed elementum tempus egestas sed sed risus pretium. Nunc id cursus metus aliquam.</p>
    <p class="lead">Faucibus nisl tincidunt eget nullam non. Neque vitae tempus quam pellentesque nec nam aliquam sem. Nibh venenatis cras sed felis eget velit aliquet. Mattis enim ut tellus elementum sagittis. Mus mauris vitae ultricies leo. Velit sed ullamcorper morbi tincidunt ornare massa eget. Neque aliquam vestibulum morbi blandit cursus risus at ultrices mi. Suspendisse potenti nullam ac tortor vitae. Cum sociis natoque penatibus et magnis dis. Odio ut sem nulla pharetra diam sit. Suspendisse in est ante in nibh mauris cursus mattis. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Tristique senectus et netus et malesuada fames ac. Viverra adipiscing at in tellus integer feugiat scelerisque varius. Risus pretium quam vulputate dignissim suspendisse. Massa vitae tortor condimentum lacinia quis vel eros donec ac. Viverra ipsum nunc aliquet bibendum enim facilisis gravida neque. Sit amet luctus venenatis lectus magna fringilla urna. Massa placerat duis ultricies lacus sed turpis.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Patreon</a>
    </p>

<%- include("partial/footer"); -%>

